<extend name="Base/common" />

<block name="body">
<style>
  #main-container{background: transparent;}
  .footer{width: 100%;position: fixed;bottom: 0;margin: 0;}
  #login-panel{width: 1000px;position: relative;margin: 0 auto;height: 1px;}
  #login-panel .span-left{position: absolute;top: 100px;left: 0;width: 400px;}
  .down-left{ min-height: 300px;color: #FFF;margin-top:30px;}
  .down-big-en{font-size: 3em;line-height: 1.5;text-align: right;
      font-weight: 200;
      color: #fff; /* redeclare to override the `.jumbotron a` */
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
  }
  .down-big-ch{font-size: 4em;line-height: 1.2;text-align: right;
      font-weight: 200;
      color: #fff; /* redeclare to override the `.jumbotron a` */
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
  }
  .down-line{text-align: center;margin: 20px 0 10px 0;}
  .down-btn{width: 150px;color: #EFF1F5;background:#7ab5d3;display: block;float: right}
  /* Download button */
  .down-btn {
      padding: 19px 24px;
      font-size: 24px;
      font-weight: 200;
      color: #fff; /* redeclare to override the `.jumbotron a` */
      border: 0;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
      box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
  }
  .down-btn:hover {
      -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
      box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  }
  .down-btn:active {
      -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
      -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
      box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
  }
  .down-help{
      color: #747474;text-align: center;line-height: 2.2;
  }
  .down-help a{
      color: #747474;
      font-weight: 200;
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
  }


  #login-panel .span12{position: absolute;top: 100px;right: 0;width: 360px;border: 2px solid #eee;background: #FFFFFF;}
  .span12 .container{width: 100%;text-align: center;}
  .verify{display: inline-block;vertical-align: top;}
  .verify img{width: 100px;height: 35px;}
  .controls{margin: 0 auto;text-align: center;}
  input.span1{width: 150px;}
  .t-align-left{text-align: left;width: 270px;}
  input[type="text"], input[type="password"]{height: 25px;line-height: 25px;}
  .foot-text{margin-bottom: 20px;width: 270px;}
  .foot-text a{color: #747474;}
  .clear-float::after{display: block;content: ' ';clear: both;}
  .btn{color: #EFF1F5;background: #86CE2F;width: 100%;}
</style>
<section id="login-panel">
    <div class="span-left">
        <div class="down-left">
            <div class="down-big-en">API SYSTEM</div>
            <div class="down-big-ch">让沟通更简单</div>
            <div class="down-line"><a href="#"><span class="  down-btn">下 载 源 码</span></a></div>
            <div class="down-help"><a href="{:U("/Home/article/index/category/help")}">使用帮助</a>&nbsp;&nbsp;&nbsp;<a href="#">社区论坛</a>
                <br>
                <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=e2e831c8074b5d67688a2f6e78a0bea1ddb36da664ea3c56ba46668c8512807c">QQ群二:460098419</a>

            </div>
        </div>

    </div>
    <div class="span12">
        <div class="container">
            <h3>用户登录</h3>

        </div>
        <form class="login-form" action="__SELF__" method="post">

          <div class="control-group">
            <div class="controls">
              <input type="text" id="inputEmail" class="span3" placeholder="请输入用户名"  ajaxurl="/member/checkUserNameUnique.html" errormsg="请填写1-16位用户名" nullmsg="请填写用户名" datatype="*1-16" value="" name="username">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="password" id="inputPassword"  class="span3" placeholder="请输入密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="text" id="inputPassword" class="span1" placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify">
              <div class="verify">
                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">

              </div>
            </div>
          </div>
          <!-- <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
            </div>
            <div class="controls Validform_checktip text-warning"></div>
          </div> -->
          <div class="control-group">
            <div class="controls t-align-left">
              <label class="checkbox">
                <input type="checkbox" name="autologin"> 自动登陆
              </label>
              <button type="submit" class="btn">Login</button>
                <div class="controls Validform_checktip text-warning"></div>
            </div>
          </div>
          <div class="foot-text clear-float">
            <div class="pull-right">
              <a href="{:U('User/register')}">立即注册</a> |
              <a href="#">忘记密码？</a>
            </div>
          </div>
        </form>
    </div>
</section>
</block>

<block name="side"> </block>
<block name="script">
    <script type="text/javascript">

        $(document)
            .ajaxStart(function(){
                $("button:submit").addClass("log-in").attr("disabled", true);
            })
            .ajaxStop(function(){
                $("button:submit").removeClass("log-in").attr("disabled", false);
            });

            $('body').addClass('cover-bg');

        $("form").submit(function(){
            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            return false;

            function success(data){
                if(data.status){
                    window.location.href = data.url;
                } else {
                    self.find(".Validform_checktip").text(data.info);
                    //刷新验证码
                    $(".reloadverify").click();
                }
            }
        });

        $(function(){
            var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
        });
    </script>
</block>
