<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:;">安装协议</a></li>
    <li><a href="javascript:;">环境检测</a></li>
    <li><a href="javascript:;">创建数据库</a></li>
    <li><a href="javascript:;">安装</a></li>
    <li><a href="javascript:;">完成</a></li>
</block>

<block name="body">
    <h1>ApiSystem V2.4 安装协议</h1>

    <p>ApiSystem文档管理系统是一个开源API接口文档管理系统， ApiSystem将原来用word编写API文档流程中解放出来，只需要按照填写文本框即可生成接口文档，管理文档也很轻松，同时还可以配置可见及所得的调试工具，API接口也可以一键导出word文档让你既可以在线分权限分享也可线下分享，是中小企业IT团队开发的福音。</p>
    <p>ApiSystem接口管理系统开发与2014年，经过几次迭代2015年形成一个稳定形态与大家见面。<br/>
    ApiSystem基于ThinkPHP3.2和OneThink开发，简单实用，希望让开发更加快捷高效。<br/>
    ApiSystem遵循Apache2开源协议发布，并提供免费使用。</p>

    <p>官网 <a href="http://www.apisystem.cn">http://www.apisystem.cn</a></p>
    <p>交流QQ群 <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=2da4e4fa072ebe10f2fc59ee87970c08e3b45a28f55de2a623a5288cd6754dbf" title="ApiSystem交流群">577693968 <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ApiSystem交流群" title="ApiSystem交流群"></a> 交流QQ群2 460098419</p>
    <p>Author: Texren  QQ: 174463651   Smith77 QQ: 3246932472</p>

    <p>Texren和Smith77拥有ApiSystem功能全部知识产权，包括商标和著作权，以下简称ApiSystem，顶想公司拥有OneThink代码的知识产权。本软件只供许可协议，并非出售。</p>
    <p>ApiSystem只允许您在遵守本协议各项条款的情况下复制、下载、安装、使用或者以其他方式受益于本软件的功能或者知识产权。</p>
	<p>ApiSystem遵循Apache Licence2开源协议，并且免费使用（但不包括其衍生产品、插件或者服务）。Apache Licence是著名的非盈利开源组织Apache采用的协议。该协议和BSD类似，鼓励代码共享和尊重原作者的著作权，允许代码修改，再作为开源或商业软件发布。需要满足的条件：<br/>
1． 需要给用户一份Apache Licence ；<br/>
2． 如果你修改了代码，需要在被修改的文件中说明；<br/>
3． 在延伸的代码中（修改和有源代码衍生的代码中）需要带有原来代码中的协议，商标，专利声明和其他原来作者规定需要包含的说明；<br/>
4． 如果再发布的产品中包含一个Notice文件，则在Notice文件中需要带有本协议内容。你可以在Notice中增加自己的许可，但不可以表现为对Apache Licence构成更改。</p>
</block>

<block name="footer">
    <a class="btn btn-primary btn-large" href="{:U('Install/step1')}">同意安装协议</a>
    <a class="btn btn-large" href="http://www.apisystem.cn">不同意</a>
</block>